:root {
  --color-app-background: #fff;
  --color-text: #232323;

  &[data-theme="dark"] {
    --color-app-background: #232323;
    --color-text: #fff;
    --color-grid-item-background: #34363a;
  }
}

$color-app-background: var(--color-app-background);
$color-text: var(--color-text);
$color-grid-item-background: var(--color-grid-item-background);